<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My family</title>
</head>
<body>
    <h1 style="color: rgba(32, 79, 181, 0.773)">This is my family</h1>
    <hr></hr>
    <ul>
        {% for relative in relative %}
            <li>{{relative.name}} {{relative.last_name}} have {{relative.age}} years old (born in {{relative.date_of_birth}})</li>
        {% endfor %}
    </ul>
    
</body>
</html>