<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family app</title>
</head>
<body>
    <h1>Welcome to Family app</h1>
    <hr></hr>
    <ul>For see the family list visit: <a href="http://127.0.0.1:8000/family/">My family</a></ul>
    <ul>For add a new member please enter in your browser http://127.0.0.1:8000/relative/relative's name/relative's last name/relative's date of birth (in format yyyy/mm/dd)</ul>
</body>
</html>